.s-id-clearfix:before,
.s-id-clearfix:after {
    content: " ";
    display: table;
}
.s-id-clearfix:before {
    clear: both;
}

.s-id-register-form,
.s-id-login-form,
.s-id-forgot-password-form,
.s-id-reset-password-form {
  margin: 50px auto;
  max-width: 400px;
  width: 95%;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 15px 30px -10px rgba(0,0,0,0.3);
  box-shadow: 0 5px 20px rgba(0,0,0,0.05), 0 15px 30px -10px rgba(0,0,0,0.3);
}
.s-id-register-form .s-id-main-header,
.s-id-login-form .s-id-main-header,
.s-id-forgot-password-form .s-id-main-header,
.s-id-reset-password-form .s-id-main-header {
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 45px;
  text-align: center;
}

.s-id-register-form .s-id-lead-text,
.s-id-login-form .s-id-lead-text,
.s-id-forgot-password-form .s-id-lead-text,
.s-id-reset-password-form .s-id-lead-text {
  font-weight: 300;
}

.s-id-register-form form,
.s-id-login-form form,
.s-id-forgot-password-form form,
.s-id-reset-password-form form,
.s-id-register-form input,
.s-id-login-form input,
.s-id-forgot-password-form input,
.s-id-reset-password-form input,
.s-id-register-form button,
.s-id-login-form button,
.s-id-forgot-password-form button,
.s-id-reset-password-form button {
  width: 100%;
}

.s-id-register-form button,
.s-id-login-form button,
.s-id-forgot-password-form button,
.s-id-reset-password-form button,
.s-id-register-form input[type=text],
.s-id-login-form input[type=text],
.s-id-forgot-password-form input[type=text],
.s-id-reset-password-form input[type=text],
.s-id-register-form input[type=password],
.s-id-login-form input[type=password],
.s-id-forgot-password-form input[type=password],
.s-id-reset-password-form input[type=password],
.s-id-register-form input[type=email],
.s-id-login-form input[type=email],
.s-id-forgot-password-form input[type=email],
.s-id-reset-password-form input[type=email] {
  text-transform: initial;
  padding: 15px 30px;
  font-weight: 400;
}

.s-id-register-form input[type=text],
.s-id-login-form input[type=text],
.s-id-forgot-password-form input[type=text],
.s-id-reset-password-form input[type=text],
.s-id-register-form input[type=password],
.s-id-login-form input[type=password],
.s-id-forgot-password-form input[type=password],
.s-id-reset-password-form input[type=password],
.s-id-register-form input[type=email],
.s-id-login-form input[type=email],
.s-id-forgot-password-form input[type=email],
.s-id-reset-password-form input[type=email] {
  border: 1px solid #f2f2f2;
  margin-bottom: 5px;
  outline: none;
}

.s-id-register-form #s-id-login-button,
.s-id-login-form #s-id-login-button,
.s-id-forgot-password-form #s-id-login-button,
.s-id-reset-password-form #s-id-login-button,
.s-id-register-form #s-id-register-button,
.s-id-login-form #s-id-register-button,
.s-id-forgot-password-form #s-id-register-button,
.s-id-reset-password-form #s-id-register-button,
.s-id-register-form #s-id-forgot-password-button,
.s-id-login-form #s-id-forgot-password-button,
.s-id-forgot-password-form #s-id-forgot-password-button,
.s-id-reset-password-form #s-id-forgot-password-button,
.s-id-register-form #s-id-reset-password-button,
.s-id-login-form #s-id-reset-password-button,
.s-id-forgot-password-form #s-id-reset-password-button,
.s-id-reset-password-form #s-id-reset-password-button {
  background-color: #fff;
  color: #25232d;
  margin-bottom: 20px;
  border: 2px solid #25232d;
  border-radius: 2px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.s-id-register-form #s-id-login-button:hover,
.s-id-login-form #s-id-login-button:hover,
.s-id-forgot-password-form #s-id-login-button:hover,
.s-id-reset-password-form #s-id-login-button:hover,
.s-id-register-form #s-id-register-button:hover,
.s-id-login-form #s-id-register-button:hover,
.s-id-forgot-password-form #s-id-register-button:hover,
.s-id-reset-password-form #s-id-register-button:hover,
.s-id-register-form #s-id-forgot-password-button:hover,
.s-id-login-form #s-id-forgot-password-button:hover,
.s-id-forgot-password-form #s-id-forgot-password-button:hover,
.s-id-reset-password-form #s-id-forgot-password-button:hover,
.s-id-register-form #s-id-reset-password-button:hover,
.s-id-login-form #s-id-reset-password-button:hover,
.s-id-forgot-password-form #s-id-reset-password-button:hover,
.s-id-reset-password-form #s-id-reset-password-button:hover {
  background-color: #25232d;
  color: #fff;
}

.s-id-github-btn,
.s-id-google-btn,
.s-id-twitter-btn,
.s-id-facebook-btn {
    padding: 10px 30px;
    width: 60%;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
    margin-bottom: 5px;
    border: 0;
    font-size: 14px;
}

.s-id-facebook-btn {
    background-color: #3B5998;
    color: #fff;
}
.s-id-facebook-btn:hover {
    background-color: #2D4475;
}
.s-id-github-btn {
    background-color: #F5F5F5;
}
.s-id-github-btn:hover {
    background-color: #c9c9c9;
}
.s-id-twitter-btn {
    background-color: #00ACEE;
    color: #fff;
}
.s-id-twitter-btn:hover {
    background-color: #009bd6;
}
.s-id-google-btn {
    background-color: #D73D32;
    color: #fff;
}
.s-id-google-btn:hover {
    background-color: #c2372d;
}

.s-id-req-new-pass-link-container {
    text-align: center;
}
.s-id-req-new-pass-link-container a {
    color: #424242;
    font-size: 13px;
}
